<div class="login-box">
    <div class="login-logo">
        <a href="javascript: void(0)">Freelance Studio</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Войдите, чтобы воспользоваться платформой</p>
            <div id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
            <form>
                <div class="input-group mb-3">
                    <input class="form-control" id="email" placeholder="Email" type="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="email-error">Введите корректный E-mail</span>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="password" placeholder="Пароль" type="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="password-error">Заполните пароль</span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input id="remember-me" type="checkbox">
                            <label for="remember-me">
                                Запомнить меня
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block" id="process-button" type="button">Войти</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>

    <div class="social-auth-links text-center mb-3">
        <p>- ИЛИ -</p>
        <a class="btn btn-block btn-warning" href="/sign-up">
            Зарегистрироваться
        </a>
    </div>

</div>
<!-- /.login-box -->